.grid{
    border: 1px solid #aaa;
    background: #000;
}
.row{
    display: flex;
    flex-direction: row;
}
.board{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.b1{
    background: #00ffff;
    border:1px solid #00ffff;
}
.b2{
    background: #800080;
    border:1px solid #800080;
}
.b3{
    background: #ff0000;
    border:1px solid #ff0000;
}
.b4{
    background: #00ff00;
    border:1px solid #00ff00;
}
.b5{
    background: #0000ff;
    border:1px solid #0000ff;
}
.b6{
    background: #ff7f00;
    border:1px solid #ff7f00;
}
.b7{
    background: #ffff00;
    border:1px solid #ffff00;
}
.ho{
    background: #ccc;
    border:1px solid #ccc;
}
.mainFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerText {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica;
}

h2 {
    font-family: Arial, Helvetica;
}

.startGameButton {
    background: linear-gradient(to bottom right, #31B4FF, #31FF88);
    font-family: Arial, Helvetica;
    font-size: 1.5rem;
    border-radius: 1rem;
}
