.grid{
    opacity: 0.3;
    border: 1px solid #aaa;
    background: #000;
}
.row{
    display: flex;
    flex-direction: row;
    
}
.griditem{
    align-self: center;
    left:0%;

}
.rebind{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    height: 2rem;
    align-self: center;
    background-color:#000;
    align-items: center;
    align-self:center;
    width: 10rem;
    height: 2rem;
}
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 25px;
  background: #333;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
}

.slider:hover {
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
    border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
#motionTop{width:100px}
#motionBottom{width:100px}
#motionRight{width:100px}
#motionLeft{width:100px}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}
#board{
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 5px solid #fff;
    background-color: transparent;

}
.empty{
   border: 1px solid rgba(255,255,255,0);
}
#next{
   margin: 20px;
   padding: 10px;
   border: 5px solid #fff;
   margin-top: 0px;
   height: fit-content;
}
body{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
   background-image: url("https://preview.redd.it/8qbvx93bdml81.png?width=960&crop=smart&auto=webp&s=11251618dfd938b3c9b9563fd21046814e6f825c"); 
}
#hold{
   margin: 20px;
   padding: 10px;
   margin-top: 0px;
    border: 5px solid #fff;
    height: fit-content;
}
.b1{
    opacity: 1;
    background: #00ffff;
    border:1px solid #00ffff;
    
}
.b2{
    opacity: 1;
    background: #800080;
    border:1px solid #800080;
}
.b3{
    opacity: 1;
    background: #ff0000;
    border:1px solid #ff0000;
}
.b4{
    opacity: 1;
    background: #00ff00;
    border:1px solid #00ff00;
}
.b5{
    opacity: 1;
    background: #0000ff;
    border:1px solid #0000ff;
}
.b6{
    opacity: 1;
    background: #ff7f00;
    border:1px solid #ff7f00;
}
.b7{
    opacity: 1;
    background: #ffff00;
    border:1px solid #ffff00;
}
.ho{
    opacity: 0.7;
    background: #ccc;
    border:1px solid #ccc;
}
.mainFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerText {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica;
}

h2 {
    font-family: Arial, Helvetica;
}

.startGameButton {
    background: linear-gradient(to bottom right, #31B4FF, #31FF88);
    font-family: Arial, Helvetica;
    font-size: 1.5rem;
    border-radius: 1rem;
}
